target/
out/
.idea/
/.classpath
/.project
/webapp/META-INF
/src/main/META-INF
/src/main/webapp
/src/main/main.eml
/src/main/main.iml
/webapp/s/upload

*.jar
*.war

/webapp/WEB-INF/classes
/webapp/WEB-INF/lib
/.settings
/.myumldata
/.travis.yml
/assembly-standalone.xml
/eclipse-formatter-config.xml
/jalopy.xml
/standalone.bat
/webdefault.xml

/xhf.eml
/xhf.iml
